<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}" type= "text/css"/>
    </head>
    <body>
        <!-- Navigation bar--> 
        <nav class="navbar">
        <div class="logo">Custom Keyboards</div>
        <ul class="navlinks">
            <div class="menu">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li class="guides">
                    <a href="{{ url_for('guides') }}">Guides</a>
                    <ul class="dropdown">
                        <li><a href="{{ url_for('gettingStarted') }}">Getting Started</a></li>
                        <li><a href="{{ url_for('layouts') }}">Layouts</a></li>
                        <li><a href="{{ url_for('parts') }}">Parts of a Keyboard</a></li>
                        <li><a href="{{ url_for('switches') }}">Switches</a></li>
                        <li><a href="{{ url_for('modifications') }}">Extra Modifications</a></li>
                    </ul>
                </li>
                
                <li class="builds">
                    <a href="{{ url_for('builds') }}">Builds</a>
                    <ul class="dropdown">
                        <li><a href="{{ url_for('sample') }}">Sample Build</a></li>
                        <li><a href="{{ url_for('create') }}">Create a Build</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('productSearch') }}">Product Search</a></li>
            </div>
        </ul>
        </nav>

        <!-- Page content -->
        <div class="body">
            <h1>Add a build</h1>
            <form method="POST">
                <label for="case">Case</label>
                <select name="case">
                    {% for case in cases %}
                    <option value="{{ case.caseName }}">{{ case.caseName }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="pcb">PCB</label>
                <select name="pcb">
                    {% for pcb in pcbs %}
                    <option value="{{ pcb.pcbType }}">{{ pcb.pcbType }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="plate">Plate</label>
                <select name="plate">
                    {% for plate in plates %}
                    <option value="{{ plate.material }}">{{ plate.material }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="switches">Switches</label>
                <select name="switches">
                    {% for switch in switches %}
                    <option value="{{ switch.switchName }}">{{ switch.switchName }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="keycaps">Keycaps</label>
                <select name="keycaps">
                    {% for keycap in keycaps %}
                    <option value="{{ keycap.keycapName }}">{{ keycap.keycapName }}</option>
                    {% endfor %}
                </select>
            </form>
            <input class="button" type="submit" value="Submit">
        </div>
    </body>
</html>